{% include 'partials/header.twig' %}

<div class="container-fluid d-flex align-items-center flex-column error">
    <h1 class="text-uppercase">Error 404</h1>
    <a href="{{ base_url() }}/" class=" btn btn-dark">Return home</a>
</div>

{% include 'partials/footer.twig' %}